target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### Local Terraform state files ###
*.tfstate
*.tfstate.*.backup

### Crash log files ###
crash.log
crash.*.log

### Exclude all .tfvars files to prevent sensitive variable exposure ###
*.tfvars
*.tfvars.json

### Ignore override files as they are usually environment-specific ###
override.tf
override.tf.json
*_override.tf
*_override.tf.json

### Terraform plugin directory ###
.terraform/terraform

### Dotfile used for credentials and other settings ###
.terraformrc
terraform.rc